.heading{
    font-size:20px;
    margin:0px;
    width:100%;
    box-shadow:5px 5px 5px grey;
}
.note{
    font-size:15px;
    color:black;

}
#footer{
    position:fixed;
    bottom:0;
    font-size:15px;
    color:white;
    letter-spacing:5px;
    background-color:grey;
    width:100%;
    line-height:3;
}
canvas{
    border:5px solid white;
    border-radius:20px;
box-shadow:5px 5px 5px grey;
}